{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
<h1 style="text-align: center"> {{ about.name }}</h1>
<h1> {{ about.name }}</h1>
<h1> {{ about.post }}</h1>
<p>{{ about.description }} </p>

{% endblock %}
