<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Page d'accueil{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" />
        {% endblock %}
        
    </head>
  
    <body>
    {# navbar#}
     {% include 'includes/nav.html.twig' %} 
     <main>
     <div class="container">
        {% block body %}
        
        
        {% endblock %} 
    </div>
        </main>

        {% block javascripts %}
            <script src="{{ asset('js/scripts.js') }}"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js"></script>
        {% endblock %}
    </body>
    {# footer#}
    {% include 'includes/footer.html.twig' %} 
</html>

