{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe{% endblock %}

{% block body %}
<h1>Modifier mot de passe</h1>
<hr>

<a href="{{ path('app_espace') }}">Retourner à mon compte</a>
<hr>

{% if app.flashes('success') is defined %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% elseif app.flashes('error') is defined %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endif %}

<div class="mt-5">
{{ form(form)}}
</div
{% endblock %}


