{% extends 'base.html.twig' %}

{% block title %}Espace Membre!{% endblock %}

{% block body %}
<p>Bienvenue dans votre Espace Membre </p>
-<a href="{{ path('password_modify')}}">modifier mon mot de passe </a> <br>
-<a href="">modifier mes informations  personnelles</a> <br>

{% endblock %}
